.section{
    margin:150px 500px;
    padding:20px;
}

.container{
    width: 20%;
    border: 1px solid black;
    padding: 40px;
    background-color: white;
    border: none;
    box-shadow: 5px 5px 5px 5px grey;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.row{
    padding: 20px;
}

form{
    display: inline;
}

input{
    width: 60%;
    padding: 15px;
}

#buttn{
    text-align: center;
}

.butt{
    background-color:brown;
    color: white;
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}